<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61035994730-qlh9tsedtvg8lmhbpqvetv3i5qcug8vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61035994730-qlh9tsedtvg8lmhbpqvetv3i5qcug8vv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>61035994730-g0qp5bfc9gqkdoqd6t7a83iv4gp2b98k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMBR0rRmIT1bqLu1zNcYyKeo9atfao7ug</string>
	<key>GCM_SENDER_ID</key>
	<string>61035994730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.portboard.broker</string>
	<key>PROJECT_ID</key>
	<string>portboard-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>portboard-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61035994730:ios:b9da71d6b84262b4197413</string>
</dict>
</plist>